.container{
    width: 100%;
    background-color: #1C2B35;
    position: fixed;
    top:0;
    z-index: 1;

}
.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 145px;
    padding-right: 140px;
}

.header ul li{
    list-style: none;
    margin-right: 36px;
    
}
.header ul li a{
    text-decoration: none;
    color: #fff;
    font-size:17px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: .5s;
}
.header ul li a:hover{
    color:orange;
}
.munu-item{    
    display: flex;

    /* margin-left: 500px; */
    
    
}